.App {
  background: rgb(248, 243, 243);
}
.item_item {
  height: 500px;
  overflow: scroll;
}
.home_container {
  background-image: url(https://t3.ftcdn.net/jpg/02/79/80/42/360_F_279804261_XIlkcaHuoVtMQfj6ZO8kclhhQHasyAqM.jpg);
}
.text_input {
  height: 30px;
  width: 60px;
  border: none;
  background: rgb(216, 214, 214);
  font-size: larger;
  padding-left: 10px;
}
.qwt_set_btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn_qwt {
  height: 30px;
  width: 20px;
  border: none;
  font-size: 2rem;
  font-weight: bolder;
  margin-left: 8px;
  margin-right: 8px;
  background-color: rgb(197, 199, 199);
}
header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.5rem 0 0 0;
  height: 100vh;
}
.header-img {
  width: 100%;
  align-self: center;
}
.header-content {
  display: flex;
  flex-direction: column;
}

.content-main {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}
.content-main h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
.content-main button {
  background: #000;
  color: #fff;
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  cursor: pointer;
  margin-top: 2.5rem;
}

.content-main p {
  font-weight: 500;
}

@media (max-width: 768px) {
  .content-main h1 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .content-main p {
    font-size: 0.8rem;
  }
  .content-main button {
    font-size: 0.8rem;
    width: 150px;
    padding: 0.5rem 1rem;
    margin-top: 1.5rem;
  }
}
.container-border-mt-2 {
  width: 150px;
  padding: 0 0.8rem 0.8rem 0.8rem;
  background-color: #fff;
  border-radius: 30px;
  text-align: center;
  flex-direction: column;
  display: flex;
}
.mx-3-bg-light-text-danger-px-2{
text-align: center;
}
.mx-4-bg-info-text-light-px-3{
text-align: center;
}
.center{
  text-align: center;
  position: relative;
}
.desc{
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
